.demo.main {
  margin-left: 30px;
  margin-right: 30px;
}

.column {
  display: flex !important;
  flex-direction: column;
}

.fill-rest {
  flex: 1;
}

.head {
  margin: 3em 0;
}

#map {
  width: 100%;
}

.seg {
  margin-bottom: 0 !important;
  overflow: visible;
}

.seg .column {
  overflow: visible;
}

.seg svg {
  overflow: visible;
}

#teen-detail {
  height: 300px;
}

.node {
  fill: red;
  stroke: #fff;
  stroke-width: 1.5px;
}

.node .selected {
  stroke: black;
}

.link {
  stroke: #999;
}

.link .strong {
  stroke: #BF9056;
}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.zoom {
  cursor: move;
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  pointer-events: all;
}