.demo.main {
  margin-left: 30px;
  margin-right: 30px;
}

.column {
  display: flex !important;
  flex-direction: column;
}

.fill-rest {
  flex: 1;
}

.head {
  margin: 3em 0;
}

#map {
  width: 100%;
}

.seg {
  margin-bottom: 0em !important;
  overflow: visible;
}

.seg .column {
  overflow: visible;
}

.seg svg {
  overflow: visible;
}

#teen-detail {
  height: 300px;
}