.head {
  margin: 3em 0;
}

#map {
  width: 100%;
}

.seg {
  margin-bottom: 3em !important;
  overflow: visible;
}

.seg .column {
  overflow: visible;
}

.seg svg {
  overflow: visible;
}

#teen-detail {
  height: 300px;
}