<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">

  <script src="http://webapi.amap.com/loca?key=e41238e007e06e7227d8a8fbcf5ed1d4&v=1.0.4"></script>

  <title>CS239 Project</title>
</head>
<body>
<div class="ui inverted container">
  <div class="ui head">
    <h1 class="ui header">CS239 Project</h1>
  </div>

  <h2 class="ui header">地图总览</h2>
  <div class="seg" id="map"></div>

  <h2 class="ui header">未成年人情况分析</h2>
  <div class="ui grid seg" id="teen-detail">
    <div class="ten wide column" id="teen-table" style="overflow-y: scroll;">
      <table class="ui very compact center aligned table">
        <thead>
          <tr><th>ID</th>
          <th>Name?</th>
          <th>Online</th>
          <th>Offline</th>
          <th>Age</th>
        </tr></thead>
        <tbody id="teen-table-body">

        </tbody>
      </table>
    </div>
  </div>

  <h2 class="ui header">上网时间分布与年龄分布</h2>
  <div class="ui grid seg" id="add1">
    <div class="ten wide column" id="punchcard1"></div>
    <div class="six wide column" id="stack1"></div>
  </div>

  <h2 class="ui header">团伙检测</h2>
  <div class="ui grid seg">
    <div class="sixteen wide column" id="link1"></div>
  </div>

</div>

<script src="/static/js/test.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="/static/js/index.js"></script>

</body>
</html>