<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">

  <script src="http://webapi.amap.com/loca?key=e41238e007e06e7227d8a8fbcf5ed1d4"></script>

  <title>CS239 Project</title>
</head>
<body>
<div class="ui inverted container">
  <div class="ui head">
    <h1 class="ui header">CS239 Project</h1>
  </div>

  <div class="seg" id="map"></div>

  <div class="ui grid seg" id="add1">
    <div class="ten wide column" id="punchcard1"></div>
    <div class="six wide column" id="stack1"></div>
  </div>

  <div class="ui grid seg">
    <div class="sixteen wide column" id="link1"></div>
  </div>

</div>

<script src="/static/js/test.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="/static/js/index.js"></script>

</body>
</html>