<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">

  <script src="http://webapi.amap.com/loca?key=e41238e007e06e7227d8a8fbcf5ed1d4&v=1.0.4"></script>

</head>
<body>
<div class="ui demo main">

  <div class="ui grid seg" id="group2">
    <div class="seven wide column">
      <div class="ui top attached header">未成年人情况分析</div>
      <div class="ui attached segment fill-rest" id="teen-table" style="overflow-y: scroll;">
        <table class="ui very compact center aligned table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name?</th>
            <th>Online</th>
            <th>Offline</th>
            <th>Age</th>
          </tr>
          </thead>
          <tbody id="teen-table-body">

          </tbody>
        </table>
      </div>
    </div>
    <div class="nine wide column">
      <div class="ui top attached header">地图</div>
      <div class="ui attached segment fill-rest" id="map"></div>
    </div>
  </div>

  <div class="ui grid seg" id="add1">
    <div class="ten wide column">
      <div class="ui top attached header">上网时间分布</div>
      <div class="ui attached segment fill-rest" id="punchcard1"></div>
    </div>
    <div class="six wide column">
      <div class="ui top attached header">年龄分布</div>
      <div class="ui attached segment fill-rest" id="stack1"></div>
    </div>
  </div>

  <div class="ui grid seg" id="group1">
    <div class="six wide column">
      <div class="ui top attached header">重叠信息</div>
      <div class="ui attached segment fill-rest" id="timeline1" style="overflow-y: hidden;"></div>
    </div>
    <div class="ten wide column">
      <div class="ui top attached header">团伙检测</div>
      <div class="ui attached segment fill-rest" id="link1" style="overflow: hidden;"></div>
    </div>

  </div>

</div>

<script src="/static/js/test.js"></script>
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="/static/js/index.js"></script>

</body>
</html>